.container .create-route {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
}
.container .create-route .route {
  background: #254C59;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 25px;
}
.container .create-route .route .import {
  margin: 10px;
  width: 100px;
  height: 30px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: #b8b8b8;
}
.container .create-route .route-name, .container .create-route .route-description, .container .create-route .route-availability {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.container .create-route .route-name label, .container .create-route .route-description label, .container .create-route .route-availability label {
  font-size: 3ch;
}
.container .create-route .route-name input, .container .create-route .route-name select, .container .create-route .route-description input, .container .create-route .route-description select, .container .create-route .route-availability input, .container .create-route .route-availability select {
  width: 40%;
  height: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #254C59;
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 41px;
  letter-spacing: 0px;
}
.container .create-route .description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.container .create-route .description textarea {
  padding: 12px;
  resize: none;
  width: 97%;
  min-height: 100px;
  background: #254C59;
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container .create-route .description textarea::-webkit-scrollbar {
  display: none;
}
.container .create-route .images-of-route {
  display: flex;
  width: 100%;
  padding: 10px;
  max-height: 400px;
  background: #254C59;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 25px;
}
.container .create-route .images-of-route::-webkit-scrollbar {
  display: none;
}
.container .create-route .images-of-route .image {
  position: relative;
  width: 30vw;
  height: 30vw;
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
  flex-grow: 1;
  flex: none;
  background: #3d6d7c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}
.container .create-route .images-of-route .image img {
  width: 90%;
  height: 90%;
  position: absolute;
  border-radius: 5px;
  z-index: 1;
}
.container .create-route .images-of-route .image .delete-image {
  width: 50px;
  height: 50px;
  display: none;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 3;
}
.container .create-route .images-of-route .image .label-input-file {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.container .create-route .images-of-route .image .label-input-file .file-input {
  display: none;
  width: 100%;
  height: 100%;
  background: none;
  appearance: none;
}
.container .create-route .images-of-route .image .label-input-file .file-input::file-selector-button {
  display: none;
}
.container .create-route .create-route-button {
  width: 40vw;
  height: 50px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #28535f;
  border-radius: 30px;
  border: none;
  outline: none;
  color: white;
  font-size: 30px;
}

.popup-import-route {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: white;
}
.popup-import-route h1 {
  margin-top: 50px;
}
.popup-import-route .import-place-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup-import-route .import-place-container .import-bar {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  display: flex;
  border-radius: 30px;
  width: 90%;
  background: #BDBDBD;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.popup-import-route .import-place-container .import-bar::-webkit-scrollbar {
  display: none;
  background: #28535f;
}
.popup-import-route .import-place-container .import-bar::-webkit-scrollbar-thumb {
  background: #28535f;
}
.popup-import-route .import-place-container .import-bar button {
  font-size: 25px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: white;
  border: none;
  border-radius: 30px;
  outline: none;
  position: relative;
  min-width: 150px;
  height: 50px;
  margin: 0 15px;
  padding: 5px;
  flex: none;
  background: #28535f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-import-route .link-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.popup-import-route .link-container input {
  width: 90%;
  height: 35px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #28535f;
  border-radius: 30px;
  border: none;
  outline: none;
  color: #000000;
}
.popup-import-route .import-route-button {
  background: #28535f;
  width: 260px;
  height: 50px;
  border-radius: 30px;
  outline: none;
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

/*# sourceMappingURL=createPost.css.map */
