.container
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 50px
  width: 80vw
  background-color: #92A6AC
  min-height: 95vh
  color: white
  gap: 50px

  font-family: Roboto, sans-serif
  font-weight: 300

  .create-route
    display: flex
    flex-direction: column
    align-items: center
    gap: 10px
    width: 90%

    .route
      background: #5C5C5C
      height: 300px
      width: 100%
      display: flex
      justify-content: flex-end
      align-items: flex-end

      .import
        margin: 10px
        width: 100px
        height: 30px
        border-radius: 40px
        border: none
        outline: none
        background: #bdbdbd

    .route-name, .route-description, .route-availability
      display: flex
      width: 100%
      justify-content: space-between
      align-items: center

      label
        font-size: 3ch

      input, select
        width: 40%
        height: 35px
        padding: 0 10px
        display: flex
        justify-content: center
        align-items: center
        background: #5C5C5C
        border-radius: 30px
        border: none
        outline: none
        color: white
        font-family: Roboto, sans-serif
        font-weight: 300
        line-height: 41px
        letter-spacing: 0px

    .description
      display: flex
      justify-content: center
      align-items: flex-start
      flex-direction: column
      width: 100%

      textarea
        padding: 12px
        resize: none
        width: 97%
        min-height: 100px
        background: #5C5C5C
        border-radius: 30px
        border: none
        outline: none
        color: white
        overflow-x: hidden
        overflow-y: scroll

        &::-webkit-scrollbar
          display: none

    .images-of-route
      display: flex
      width: 100%
      height: 400px
      background: #5C5C5C
      overflow-x: scroll
      overflow-y: hidden
      flex-direction: row
      justify-content: flex-start
      align-items: center


      .image
        position: relative
        width: 350px
        height: 350px
        margin: 0 15px
        flex-grow: 1
        flex: none
        background: #A6A6A6
        display: flex
        justify-content: center
        align-items: center

        img
          width: 80%
          height: 80%
          position: absolute
          z-index: 1

        .delete-image
          width: 50px
          height: 50px
          display: none
          position: absolute
          right: 5%
          top: 5%
          z-index: 3

        .label-input-file
          width: 100%
          height: 100%
          z-index: 2

          .file-input
            display: none
            width: 100%
            height: 100%
            background: none
            appearance: none

            &::file-selector-button
              display: none

    .create-route-button
      width: 40vw
      height: 35px
      padding: 0 10px
      display: flex
      justify-content: center
      align-items: center
      background: #5C5C5C
      border-radius: 30px
      border: none
      outline: none
      color: white

.popup-import-route
  font-family: Roboto, sans-serif
  font-weight: 300
  color: white

  h1
    margin-top: 50px

  .import-place-container
    width: 90%
    display: flex
    flex-direction: column
    gap: 10px

    .import-bar
      font-family: Roboto, sans-serif
      font-weight: 300

      display: flex
      border-radius: 30px
      width: 90%
      background: #BDBDBD
      overflow-x: scroll
      overflow-y: hidden
      flex-direction: row
      justify-content: flex-start
      align-items: center
      padding: 10px

      &::-webkit-scrollbar
        display: none
        background: #898989

      &::-webkit-scrollbar-thumb
        background: #9a9a9a


      button
        font-size: 25px
        font-family: Roboto, sans-serif
        font-weight: 300
        color: white

        border: none
        border-radius: 30px
        outline: none
        position: relative
        min-width: 150px
        height: 50px
        margin: 0 15px
        padding: 5px
        flex: none
        background: #616161
        display: flex
        justify-content: center
        align-items: center
  
  .link-container
    width: 90%
    display: flex
    flex-direction: column
    gap: 10px
    font-family: Roboto, sans-serif
    font-weight: 300

    input
      width: 90%
      height: 35px
      padding: 0 10px
      display: flex
      justify-content: center
      align-items: center
      background: #BDBDBD
      border-radius: 30px
      border: none
      outline: none
      color: #000000

  .import-route-button
    background: #5C5C5C
    width: 260px
    height: 50px
    border-radius: 30px
    border: 2px solid white
    outline: none
    color: white
    font-size: 20px
    font-weight: lighter